// Registration App Organism Styles
@use '../../../../designTokens/src/variablesDefault' as *;

.ems-app-card-container {
  flex: 1;
  border: 2px solid var(--ems-border, $ems-border);
  border-radius: $ems-radius-lg;
  padding: $ems-spacing-md;
  background-color: var(--ems-bg, $ems-bg); 
}

.ems-app-card-header {
  margin: 0 0 10px 0;
  color: var(--ems-heading2, $ems-heading2);
}

.ems-app-card-content {
  padding: $ems-spacing-lg;

  h3 {
    margin-bottom: $ems-spacing-md;
  }
}