@use 'sass:color';
@use '../../../../designTokens/src/_variablesDefault' as *;

.ems-notification {
  padding: $ems-spacing-md;
  border-radius: $ems-radius-lg;
  margin-bottom: $ems-spacing-md;
  border-left: 4px solid;
  font-family: $ems-font-family;

  &--success {
    background-color: color.adjust($ems-success, $lightness: 45%);
    border-left-color: $ems-success;
    color: color.adjust($ems-success, $lightness: -20%);
  }

  &--warning {
    background-color: color.adjust($ems-warning, $lightness: 40%);
    border-left-color: $ems-warning;
    color: color.adjust($ems-warning, $lightness: -20%);
  }

  &--error {
    background-color: color.adjust($ems-error, $lightness: 40%);
    border-left-color: $ems-error;
    color: color.adjust($ems-error, $lightness: -20%);
  }

  &--info {
    background-color: color.adjust($ems-primary, $lightness: 40%);
    border-left-color: $ems-primary;
    color: color.adjust($ems-primary, $lightness: -20%);
  }
}